.row
  .col-md-offset-4.col-md-4
    %h1=t('question.edit.title')

    = render 'form'

    = link_to =t('show'), quizz_question_path(@question.quizz, @question)
    \|
    = link_to t('back'), quizz_questions_path(@question.quizz)
