
.row
  .col-md-12
    %h1
      =t('questions.list')
      =@exam.name
    %table.table.table-striped
      %thead
        %tr
          %th=t('questions.name')
          %th=t('actions')

      %tbody
        - @questions.each do |question|
          %tr
            %td= link_to question.text, exam_question_path(question.exam, question)
            %td
              = link_to edit_exam_question_path(question.exam, question) do
                %span.glyphicon.glyphicon-pencil
              = link_to exam_question_path(question.exam, question), :method => :delete, :data => { :confirm => t('delete.confirm') } do
                %span.glyphicon.glyphicon-trash

    %br

    = link_to t('question.new'), new_exam_question_path(@exam)
