
.row
  .col-md-12
    %h1
      =t('questions.list')
      =@quizz.name
    %table.table.table-striped
      %thead
        %tr
          %th=t('questions.name')
          %th=t('actions')

      %tbody
        - @questions.each do |question|
          %tr
            %td= link_to question.text, quizz_question_path(question.quizz, question)
            %td
              = link_to edit_quizz_question_path(question.quizz, question) do
                %span.glyphicon.glyphicon-pencil
              = link_to quizz_question_path(question.quizz, question), :method => :delete, :data => { :confirm => t('delete.confirm') } do
                %span.glyphicon.glyphicon-trash

    %br

    = link_to t('question.new'), new_quizz_question_path(@quizz)
