packages:
  yum:
    git: []
commands:
  100_install_nodejs:
    command: "curl -sL https://rpm.nodesource.com/setup | bash -"
  150_install_nodejs:
    command: "yum install -y nodejs-0.10.32"
  200_mkdir_webapp_dir:
    test: 'mkdir /home/webapp'
    command: 'ls -la /home/webapp'
  300_chown_webapp_dir:
    command: 'chown webapp:webapp /home/webapp'
  400_chmod_webapp_dir:
    command: 'chmod 700 /home/webapp'
