packages:
  yum:
    git: []
container_commands:
  100_install_nodejs:
    cwd: "/var/app/ondeck/"
    command: "source .ebextensions/install-nodejs.sh"
  200_mkdir_webapp_dir:
    test: 'mkdir /home/webapp'
    command: 'ls -la /home/webapp'
  300_chown_webapp_dir:
    command: 'chown webapp:webapp /home/webapp'
  400_chmod_webapp_dir:
    command: 'chmod 700 /home/webapp'
