%h1 Editing answer

= render 'form'

= link_to 'Show', exam_question_answer_path(@answer.question.exam, @answer.question, @answer)
\|
= link_to 'Back', exam_question_answers_path(@answer.question.exam, @answer.question)
