.row
  .col-md-offset-4.col-md-4
    %h1= t('answer.edit')

    = render 'form'

    = link_to t('show'), quizz_question_answer_path(@answer.question.quizz, @answer.question, @answer)
    \|
    = link_to t('backQuestion'), quizz_question_path(@answer.question.quizz, @answer.question)
