.section
  -unless @errors.nil?
    -if @errors.include? question
      .alert.alert-danger{:role => 'alert'}
        %strong=t('error')
        =t('question.answer.wrong')
  %p= question.text
  %ul.list-unstyled
    -question.answers.each do |answer|
      %li
        = radio_button_tag "question[#{question.id}]answer_ids[]", answer.id, @checked_answer_ids.include?(answer.id)
        = answer.text