%p
  =link_to question.text, exam_question_path(question.exam, question)

-if question.answers.length == 0
  No answers
-else
%h3 Possible answers
%ul
  -question.answers.each do |answer|
    %li= answer.text