%nav.navbar.navbar-inverse.navbar-fixed-top
  %div.container
    %div.navbar-header
      %button.navbar-toggle.collapsed{'data-toggle' => 'collapse', 'data-target' => '#navbar', 'aria-expanded' => false, 'aria-controls' => 'navbar'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Quizz',root_path, :class => 'navbar-brand'
    %div#navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          =link_to t('menu.home'), root_path
        - if user_signed_in?
          %li
            =link_to t('menu.createQuizz'), new_quizz_path
          %li
            =link_to t('menu.logout'), destroy_user_session_path, :method => :delete
        -else
          %li
            =link_to t('menu.login'), new_user_session_path